ConsoleLibrary/ConsoleApp/Service References/ConsoleAppReference/ConsoleLibrary.ConsoleClasses.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ConsoleLibrary.ConsoleClasses" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ConsoleLibrary.ConsoleClasses" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AccountConsole">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MiddleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MobileNumber" type="xs:int" />
      <xs:element minOccurs="0" name="Province" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TelephoneNumber" type="xs:int" />
      <xs:element minOccurs="0" name="TimeSubmitted" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ZipCode" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountConsole" nillable="true" type="tns:AccountConsole" />
  <xs:complexType name="AllContacts">
    <xs:sequence>
      <xs:element minOccurs="0" name="Contacts" nillable="true" type="tns:ArrayOfAccountConsole" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AllContacts" nillable="true" type="tns:AllContacts" />
  <xs:complexType name="ArrayOfAccountConsole">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AccountConsole" nillable="true" type="tns:AccountConsole" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAccountConsole" nillable="true" type="tns:ArrayOfAccountConsole" />
</xs:schema>