ConsoleLibrary/Asp.netApp/Service References/AspServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ConsoleLibrary.ConsoleClasses" />
  <xs:element name="CreateAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MiddleName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Province" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ZipCode" type="xs:int" />
        <xs:element minOccurs="0" name="TelephoneNumber" type="xs:int" />
        <xs:element minOccurs="0" name="MobileNumber" type="xs:int" />
        <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ConsoleLibrary.ConsoleClasses" minOccurs="0" name="CreateAccountResult" nillable="true" type="q1:AccountConsole" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccountID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MiddleName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Province" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ZipCode" type="xs:int" />
        <xs:element minOccurs="0" name="TelephoneNumber" type="xs:int" />
        <xs:element minOccurs="0" name="MobileNumber" type="xs:int" />
        <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ConsoleLibrary.ConsoleClasses" minOccurs="0" name="UpdateAccountResult" nillable="true" type="q2:AccountConsole" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccountID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ConsoleLibrary.ConsoleClasses" minOccurs="0" name="DeleteAccountResult" nillable="true" type="q3:AccountConsole" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllContacts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllContactsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ConsoleLibrary.ConsoleClasses" minOccurs="0" name="GetAllContactsResult" nillable="true" type="q4:AllContacts" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>